<button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ "text.share"|trans }}">
    <span class="glyphicon glyphicon-share"></span>
    <span class="caret"></span>
</button>
<ul class="dropdown-menu">
    {{ sharing|raw }}
</ul>