{% trans_default_domain 'sharebuttons' %}

<p>
    Esta herramienta se usa para administrar su botones para compartir
</p>

<p class="text-center">
    <strong><a href="https://975l.com/es/pages/sharebuttons-bundle">>> ShareButtons (Tutoriales, capturas de pantalla, etc.) <<</a></strong>
</p>