{% trans_default_domain 'sharebuttons' %}

<p>
    This tool is used to manage your share buttons
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/sharebuttons-bundle">>> ShareButtons (Tutorials, screenshots, etc.) <<</a></strong>
</p>