{% trans_default_domain 'sharebuttons' %}

<p>
    Cet outil sert à gérer vos boutons de partage
</p>

<p class="text-center">
    <strong><a href="https://975l.com/fr/pages/sharebuttons-bundle">>> ShareButtons (Tutoriels, copies d'écran, etc.) <<</a></strong>
</p>