{% extends "@c975LShareButtons/layout.html.twig" %}
{% trans_default_domain 'sharebuttons' %}
{% set title = 'label.dashboard'|trans({}, 'toolbar') %}

{% block sharebuttons_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LShareButtons/tools.html.twig', 'dashboard', 'md') }}
{# Actions #}
    <div class="row">
    </div>
{% endblock %}